.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-item {
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  max-width: 300px;
  list-style-type: none;
}
.heading {
  font-size: 20px;
  font-family: 'roboto';
}
.description {
  font-size: 12px;
  font-family: 'roboto';
}
.img-container {
  display: flex;
  justify-content: flex-end;
}
.card-img {
  height: 70px;
    width: 70px;
}
